@import "tailwindcss";
@import "@heroui/styles"; 

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

body {
 /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
  
}

@keyframes shimmer {
  /* 0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; } */
}

.slide-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slide-up.visible {
  opacity: 1;
  transform: translateY(0);
}