@import "tailwindcss";
@import "@heroui/styles"; 

/* Hide scrollbar for all elements */
::-webkit-scrollbar {
  display: none;
}

body {
 /* IE + Edge */
  scrollbar-width: none;     /* Firefox */
  
}

@keyframes shimmer {
  /* 0%   { background-position: 200% 0; }
  100% { background-position: -200% 0; } */
}

@keyframes float {
  0%, 100% { transform: translateY(0px) rotate(0deg); }
  50%      { transform: translateY(-16px) rotate(0.8deg); }
}

.animate-float {
  animation: float 4.5s ease-in-out infinite;
}
